.form_container {
  height: 80%;
  width: 403px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: #fff;
  padding: 80px;
  border-radius: 32px;
  margin: 24px 24px 24px auto;
}

.form_header {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-bottom: 48px;
}

.form_header h1 {
  color: #1d1d1d;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.form_header p {
  color: #666666;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.form_label {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 403px;
  margin-bottom: 48px;
}

.form_label h1 {
  font-size: 16px;
  color: #666666;
  position: absolute;
  margin-bottom: 12px;
}

.form_label p {
  font-size: 16px;
  color: #949494;
  position: relative;
  top: 15px;
  display: inline;
}

.form_label img {
  position: relative;
  top: 20px;
  margin: 0 2.5px 0 2px;
}

.form_label .view {
  margin-left: 190px;
  background-image: url('../assets/view.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 24px;
  width: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  top: 15PX;
}

.form_label .form_input {
  margin-bottom: 20px;
  border-style: none;
  border-bottom: 1px solid #adadad;
  width: 100%;
}

.form_label .form_input:focus {
  outline: none;
}

.form_label .form_input:hover {
  cursor: text;
}

/* Animação para fade-in/out */
.fade {
  transition: opacity 0.3s ease;
}

/* Esconde visualmente, mas mantém o espaço */
.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.login_button {
  background-color: #f24e1e;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  padding: 16px 32px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  transition: background-color 0.2s ease;
}

.login_button:hover {
  background-color: #d94116; /* tom um pouco mais escuro no hover */
}
